<div data-controller="clipboard">
  <div class="mt-1 relative rounded-full shadow-sm">
    <input data-clipboard-target="source" class="focus:ring-green-600 focus:border-green-600 block w-full pl-4 pr-12 sm:text-sm border-gray-300 rounded-full" type="text" value="<%= @value %>" readonly>
    <div class="absolute inset-y-0 right-0 flex items-center pr-1">
      <button data-action="clipboard#copy" class="focus:ring-green-600 focus:border-green-600 h-4/5 py-0 pl-4 pr-4 bg-green-600 hover:bg-green-700 text-white sm:text-sm rounded-full font-semibold">
        <%= octicon 'clippy', height: 20 %>
        Copy
      </button>
    </div>
  </div>
</div>
