<div class="w-72">
  <div class="bg-gray-50 shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 text-center sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Applicant Information</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p>
    </div>
    <div class="border-t border-gray-300">
      <div>
        <div class="px-4 pt-5 pb-1 sm:px-6">
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            Sign up
          </button>
        </div>
        <div class="px-4 pt-1 pb-5 sm:px-6">
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            Login
          </button>
        </div>
        <div class="px-2 py-5 mb-4 mx-4 border border-gray-300 bg-white rounded-md text-center sm:px-4 sm:mx-6 sm:mb-6">
          <p class="max-w-2xl text-xs text-gray-500">Login through external providers</p>
          <div class="mt-3">
            <button type="submit" class="group relative w-full flex justify-center py-1 px-3 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
              <%= render partial: 'landing/google' %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
