<div>
  <svg width="40px" height="40px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <title>btn_google_dark_disabled_ios</title>
    <desc>Created with Sketch.</desc>
    <g id="Google-Button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
      <g id="9-PATCH" sketch:type="MSArtboardGroup" transform="translate(-788.000000, -219.000000)"></g>
      <g id="btn_google_dark_disabled" sketch:type="MSArtboardGroup" transform="translate(-1.000000, -1.000000)">
        <g id="button" sketch:type="MSLayerGroup" transform="translate(4.000000, 4.000000)">
          <g id="button-bg">
            <use fill-opacity="0.08" fill="#fff" fill-rule="evenodd" sketch:type="MSShapeGroup" xlink:href="#path-1"></use>
            <use fill="none" xlink:href="#path-1"></use>
            <use fill="none" xlink:href="#path-1"></use>
            <use fill="none" xlink:href="#path-1"></use>
          </g>
        </g>
        <path d="M24.001,25.71 L24.001,22.362 L32.425,22.362 C32.551,22.929 32.65,23.46 32.65,24.207 C32.65,29.346 29.203,33 24.01,33 C19.042,33 15.01,28.968 15.01,24 C15.01,19.032 19.042,15 24.01,15 C26.44,15 28.474,15.891 30.031,17.349 L27.475,19.833 C26.827,19.221 25.693,18.501 24.01,18.501 C21.031,18.501 18.601,20.976 18.601,24.009 C18.601,27.042 21.031,29.517 24.01,29.517 C27.457,29.517 28.726,27.132 28.96,25.719 L24.001,25.719 L24.001,25.71 Z" id="Shape-Copy" fill="#fff" sketch:type="MSShapeGroup"></path>
        <g id="handles_square" sketch:type="MSLayerGroup"></g>
      </g>
    </g>
  </svg>
</div>
