<h1>Landing#index</h1>
<p>Find me in app/views/landing/index.html.erb</p>

<div class="w-auto">
  <%= render ClipboardComponent.new(value: SecureRandom.hex(64)) %>
</div>

<%= render partial: 'landing/box' %>
